@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600;700&family=Inter:wght@600;700&display=swap");
:root {
  --red-color: #e63946;
  --yellow-color: #ffca28;
  --pink-color: #ff6864;
  --dark-color: #181e1e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  /* font-family: 'Alegreya', serif; */
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  cursor: pointer;
}
.wrapper {
  width: 1024px;
  margin: 0 auto;
}

/* tablet version */

@media (max-width: 1040px) {
  .wrapper {
    max-width: 675px;
  }
}

/* mobile version */
@media (max-width: 750px) {
  .wrapper {
    padding: 0 30px;
    max-width: 380px;
  }

  h1 {
    font-size: 24px !important;
  }

  h1::after {
    width: 50px;
  }
}
